.createArticle {
    width: 60%;
    margin: 2rem auto auto;
    display: flex;
}

.createArticle .createArticle-title {
    width: 100%;
    text-align: center;
}

.createArticle .createArticle-container {
    width: 90%;
    margin: 1rem auto;
}

.createArticle .createArticle-footer {
    width: 70%;
    margin: 2rem auto;
    text-align: center;
}

.createArticle .createArticle-footer button{
    width: 60%;
    padding: 1rem 0;
}