.blog-article {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.blog-article .blog-article-date {
    font-size: 0.9rem;
    opacity: 0.5;
    margin: 0;
    padding: 0;
}

.blog-article .blog-article-title {
    text-align: center;
    margin-bottom: .75rem;
}

.blog-article .blog-article-content {
    margin-top: 4rem;
}

.blog-article-content p {
    text-indent: 20px;
    font-size: 1.5rem;
}


.blog-article-comment-section {
    margin-top: 4rem;
}

.blog-article-comment-section h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.blog-article-comment-section .blog-article-comment {
    margin-top: 2rem;
}

.blog-article-comment-section .blog-article-comment-author {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: .75rem;
    margin-bottom: .75rem;
}

.blog-article-comment-section .blog-article-comment-date {
    font-size: 80%;
    opacity: 0.5;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1600px) {
    .post-container {
        width: 90%;
    }
}

@media screen and (max-width: 1200px) {
    .post-container {
        width: 80%;
    }

    .post-container .post-body * {
        width: 100%;
        word-break: break-all;
    }
}

@media screen and (max-width: 1000px) {
    .post-container {
        width: 90%;
    }
    .post-body * {
        width: 100%;
        word-break: break-all;
    }
}

